@model PROYECTOMOISES.Models.Cuenta

@{
    ViewBag.Title = "Ingresar Dinero";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>


    <form method="post">
        <div class="form-group">
            @Html.LabelFor(model => model.NumeroCuenta)
            @Html.TextBoxFor(model => model.NumeroCuenta, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NumeroCuenta, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Monto)
            @Html.TextBoxFor(model => model.Monto, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">@ViewBag.Message</div>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
</main>
